In [2]:
# jSON is a very popular format for keeping the data and SQL is another data format

In [4]:
import pandas as pd

In [8]:
pd.read_json('banksdata.json') 

# pandas mai read_json use garera garna milxa

,Rank,Bank Name,"Total Assets (2023, US$ billion)"
0,1,Industrial and Commercial Bank of China,"6,303.44"
1,2,Agricultural Bank of China,"5,623.12"
2,3,China Construction Bank,"5,400.28"
3,4,Bank of China,"4,578.28"
4,5,JPMorgan Chase,"3,875.39"
...,...,...,...
95,96,Raiffeisen Group,352.87
96,97,Handelsbanken,351.79
97,98,Industrial Bank of Korea,345.81
98,99,DNB,339.21
99,100,Qatar National Bank,338.14

In [14]:
# url bata data extract garne
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
INR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-03-07,1741305602,1.0000
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-03-07,1741305602,0.0422
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-03-07,1741305602,0.8340
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-03-07,1741305602,1.0500
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-03-07,1741305602,4.5300
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-03-07,1741305602,1.2700
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-03-07,1741305602,2.8300
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-03-07,1741305602,0.2100
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-03-07,1741305602,0.3310
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-03-07,1741305602,0.3060